/* Global styles */

.whiteboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #3498db, #8e44ad);
    padding: 20px; /* Add padding for better spacing */
  }
  
  .whiteboard-title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center; /* Center the title text */
  }
  
  .whiteboard {
    width: 100%; /* Make canvas width 100% */
    max-width: 600px; /* Limit canvas width for better view on larger screens */
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px; /* Add space between canvas and buttons */
  }
  
  .canvas-heading {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Button container styles */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Button styles */
  .download-button, .clear-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px; /* Add space between buttons */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    width: 150px; /* Set button width */
  }
  
  .clear-button {
    background-color: #f44336;
  }
  
  /* Hover styles */
  
  .download-button:hover {
    background-color: #45a049;
  }
  
  .clear-button:hover {
    background-color: #d32f2f;
  }
  
  /* Media queries for responsiveness */
  
  @media screen and (min-width: 768px) {
    /* Styles for tablets and desktops */
    
    .whiteboard-container {
      padding: 50px; /* Increase padding for better spacing on larger screens */
    }
    
    .whiteboard {
      max-width: 800px; /* Increase max-width for larger screens */
    }
  }
  